
* {
    box-sizing: inherit ;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;

}

.app_full-width {
    width: 100%;
}

.app_row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;

}

